.row {
  margin-left: 20px;
  color: white;
}

.row-poster {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row-poster::-webkit-scrollbar {
  display: none;
}
.poster-img {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.poster-img:hover {
  transform: scale(1.09);
}

.poster-img-Large {
  max-height: 250px;
}

.poster-img-Large:hover {
  transform: scale(1.1);
}
